@import "tailwindcss";

@theme {
  --color-russianViolet: #391b49;
  --color-darklavander: #795690;
  --color-amethyst: #9570c6;
  --color-brightLavander: #c29ce4;
  --color-ceil: #999ecf;

  --color-aubergine: #26121b;
  --color-claret: #6b1a34;
  --color-madderLake: #ce3737;
  --color-rainBoots: #fb6734;
  --color-prussianBlue: #1b3854;

  --color-darkDanger: #2d0e0e;
  --color-allSystemsRed: #b30303;
  --color-apolloBay: #768596;
  --color-blueAsh: #404654;
  --color-festivalOrange: #df6043;

  --color-crowshead: #161605;
  --color-olivenite: #2c340b;
  --color-armyGreen: #48511e;
  --color-vineyardView: #767445;
  --color-particleIoniserRed: #cd2c18;

  --color-rhythm: #766da7;
  --color-eerie-black: #15191e;
  --color-camouflage-green: #7a9663;
  --color-ebony: #556842;
  --color-laurel-green: #a0ae91;
}

.contact {
  -webkit-text-stroke: 2px white;
}

.about-active {
  color: #e19720;
  font-size: 1.5rem;
  transition: ease 0.5s;
  font-weight: bold;
}
.experience-active {
  color: #e35339;
  font-size: 1.5rem;
  transition: ease 0.5s;
  font-weight: bold;
}
.projects-active {
  color: #3b7b32;
  font-size: 1.5rem;
  transition: ease 0.5s;
  font-weight: bold;
}
.contact-active {
  color: blue;
  font-size: 1.5rem;
  transition: ease 0.5s;
  font-weight: bold;
}
